/*h1,
h2 {
  color: blue;
}

//Seleciona a dentro de p 
p a {
  color: green;
}

//Seleciona um elemento pelo id
#logo {
    color: blue;
}

//Seleciona um elemento pela classe
.menosimportante {
    color: red;
}*/