body{
    background-color: #f7f7f7;
    font-family: Arial, Arial, Helvetica, sans-serif;
    display: grid;
    margin: 0;
    gap: 3.75rem;
    margin-top: 3.75rem;
    justify-items: center;
}

h1{
    text-align: center;
}

h1,
h2,
p,
h3{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    list-style: none; 
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

p{
    font-size: 1.25rem;
}

.header{
    display: grid;
    justify-items: center;
    gap: 3.75rem;
}

a{
    background-color: white;
    border: 0;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    display: block;
    border: 0.125rem solid white; 
}

a:hover{
    border-color: red;
}

h1::after{
    content: "";
    position: absolute;
    width: 3.75rem;
    height: 0.25rem;
    top: 1.875rem;
    right: -1.875rem;
    background-color: red;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.5rem;
}

.conteudo img{
    height: 100%;
    object-fit: cover;
}

.descricao{
    background: #fff;
    padding: 2.5rem;
    text-align: center;
    position: relative;
    display: grid;
    gap: 1.25rem;
    align-content: center;
    justify-items: center;
}

.descricao h1{
    font-size: 2rem;
}

.button{
    background-color: red;
    color: white;
    border-radius: 0.3125rem;
    font-size: 1rem;
    padding: 0.9375rem 1.5625rem 0.9375rem 1.5625rem;
    border: 0;
    cursor: pointer;
}

.button:hover{
    background-color: #900;
}

.subtitulo{
    color: #c6c6c6;
    font-size:3.75rem;
    text-align: right;
    align-self: center;
    padding: 2.5rem;
    line-height: 1.3;
    text-transform: uppercase;
    background-image: url("./assets/onda.svg");
}

.specsContainer{
    display: grid;
    grid-template-rows: 1fr;
    padding: 2.5rem;
    background-color: white;
}

.specsFilho{
    display: grid;
    position: relative;
    margin: 0;
    gap: 0.625rem;
    align-items: end;
    padding: 1.25rem;
}

.specsFilho:hover::after{
    content: "";
    width: 0.1875rem;
    height: 100%;
    background-color: red;
    position: absolute;
}

.specsFilho:nth-child(odd){
    background-color: #f7f7f7;
}

.specsFilho p{
    grid-column: 2;
    text-align: left;
}

.footer{
    display: flex;
    width: 100%; 
    height: 5.625rem;
    background-color: white;
    justify-content: center;
    text-align: center;
}

.footer p{
    align-self: center;
}

@media(max-width: 1000px){
    .conteudo:last-child{
        grid-template-columns: 1fr;
    }

    .subtitulo{
        text-align: center;
        align-self: center;
    }
}


@media(max-width: 500px){
    html{
        font-size: 80%;
    }

    body{
        gap: 1rem;
    }

    h1::after{
        display: none;
    }

    h1{
        word-break: break-word;
    }

    .conteudo{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .descricao{
        padding: 2rem;
        gap: 1rem;
        align-content: center;
        justify-items: center;
        word-break: break-word;
    } 

    .descricao p{   
        text-align: center;

    }
    .specsFilho:hover::after{
        display: none;
    }

    .specsFilho{
        word-break: break-word;
    }
    .footer p{
        word-break: break-word;
    }

    .subtitulo{
        font-size: 2.5rem;
    }
}

@media(max-width: 300px){
    .subtitulo{
        font-size: 1.5rem;
    }

    .specsFilho img{
        display: none;
    }

    .specsFilho p{
        grid-column: 1 / -1;
    }

    .header{
        gap: 1.75rem;
    }
}